html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Lunfga', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	-webkit-text-size-adjust: 100%
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
@font-face {
	font-family: "Lunfga";
	src: url("../assets/fonts/Lufga-Regular.ttf") format("ttf"),
				url("../assets/fonts/Lufga-Regular.woff2") format("woff2"),
				url("../assets/fonts/Lufga-Regular.woff") format("woff");
				font-weight: 'regular'
}
@font-face {
		font-family: 'Lunfga';
		src: url("../assets/fonts/Lufga-Medium.ttf") format("ttf"),
				url("../assets/fonts/Lufga-Medium.woff") format("woff"),
				url("../assets/fonts/Lufga-Medium.woff2") format("woff2");
		font-weight: 500;
}
@font-face {
		font-family: 'Lunfga';
		src: url("../assets/fonts/Lufga-Light.ttf") format("ttf"),
				url("../assets/fonts/Lufga-Light.woff") format("woff"),
				url("../assets/fonts/Lufga-Light.woff2") format("woff2");
		font-weight: 300;
}

.control-dots{
    top: calc(70vw + 10px) !important;
    /*right: calc((100vw - 1200px)/2);*/
    /*justify-content: flex-end;*/
    /*bottom: unset !important;*/
    /*width: 300px !important;*/
    height: 20px;
}
.dining .control-dots{
    bottom: 400px !important;
}
.main-crousal .control-dots{
    bottom: 20px !important;
    right: 0;
    justify-content: center;
    z-index: 2;
}
.carousel .control-dots .dot{
    transform: rotate(
        45deg
    ) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border: 1px solid #fff !important;
}
.carousel-root {
    width: 100%;
}
.carousel .control-prev.control-arrow{
	left: calc(20vw - 60px) !important;
	display: block;
	opacity: 1 !important;
	top:  170px !important;
	width: 0 !important;
	height: 0 !important;
	border-top: 20px solid transparent !important;
	border-bottom: 20px solid transparent !important;
	border-right: 20px solid #75777B !important;
	padding:  0px !important;
}
.carousel .control-prev.control-arrow:before{
	display: none !important;
}
.carousel .control-prev.control-arrow:hover{
	background-color: unset !important;
}
.carousel .control-next.control-arrow{
	left: calc(60vw + 40px) !important;
	display: block;
	opacity: 1 !important;
	top:  170px !important;
	width: 0 !important;
	height: 0 !important;
	border-top: 20px solid transparent !important;
	border-bottom: 20px solid transparent !important;
	border-left: 20px solid #75777B !important;
	padding:  0px !important;
}
.carousel .control-next.control-arrow:before{
	display: none !important;
}
.carousel .control-next.control-arrow:hover{
	background-color: unset !important;
}
.carousel .control-dots .dot{
	background: #C1A292 !important;
	border-color: #C1A292 !important;
}

/*.home-dining .control-dots {
    top: 90px !important;
    height: 20px;
}

.home-dining .carousel .control-dots .dot {
    background: #FFF !important;
    border-color: #FFF !important;
}*/

.home-rooms .control-dots {
	top: calc( 70vh - 45px ) !important;
	text-align: right !important;
	right: calc(100vw - 1200px) !important;
}
.home-rooms .carousel .control-dots .dot {
    background: #FFF !important;
    border-color: #FFF !important;
}
.home-rooms-mobile .control-dots {
	top: calc( 70vw + 10px ) !important;
}

.accomodation-images .control-dots {
	top: calc(100vh - 145px) !important;
    height: 20px;
}
.accomodation-images.mobile .control-dots {
	top: calc(70vw) !important;
    height: 20px;
}
.accomodation-images .carousel .control-dots .dot {
    background: #FFF !important;
    border-color: #FFF !important;
}
.accomodation-images.mobile .carousel .control-dots .dot {
    background: #C1A292 !important;
    border-color: #C1A292 !important;
}

.home-dining .control-dots {
	top: calc( 70vh - 50px ) !important;
    height: 20px;
    right: calc(100vw - 1200px) !important;
    text-align: right !important;
}
.home-dining.mobile .control-dots {
	top: calc(70vw + 20px) !important;
    height: 20px;
    right: unset !important;
    text-align: center !important;
}
.home-dining .carousel .control-dots .dot {
    background: #FFF !important;
    border-color: #FFF !important;
}
.home-dining.mobile .carousel .control-dots .dot {
    background: #C1A292 !important;
    border-color: #C1A292 !important;
}
